
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


<div class="container">
  <h2>เพิ่มข้อมูลหอพัก</h2>
  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputDormName" class="col-sm-4 col-form-label">ชื่อหอพัก(ภาษาไทย)</label>
        <div class="col-sm-8">
          <input type="dormname" class="form-control" id="inputEditdormName" placeholder="ชื่อหอพัก">
        </div>
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputDormNameEng" class="col-sm-4 col-form-label">ชื่อหอพัก(ภาษาอังกฤษ)</label>
        <div class="col-sm-8">
          <input type="dormnameEng" class="form-control" id="inputEditdormNameEng" placeholder="name">
        </div>
      </div>
    </div>
    <br>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputdormAdmin" class="col-sm-4 col-form-label">ชื่อผู้ดูแล</label>
        <div class="col-sm-8">
          <input type="dormAdmin" class="form-control" id="inputEditdormAdmin" placeholder="ชื่อผู้ดูแล">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputTelAdmin" class="col-sm-4 col-form-label">เบอร์โทร</label>
        <div class="col-sm-8">
          <input type="TelAdmin" class="form-control" id="inputEditTelAdmin" placeholder="เบอร์โทร">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputemailAdmin" class="col-sm-4 col-form-label">EMail</label>
        <div class="col-sm-8">
          <input type="emailAdmin" class="form-control" id="inputEditEmailAdmin" placeholder="Email">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputdetailAdmin" class="col-sm-4 col-form-label">รายละเอียดเพิ่มเติม</label>
        <div class="col-sm-8">
          <input type="detailAdmin" class="form-control" id="inputEditdetailAdmin" placeholder="รายละเอียดเพิ่มเติม">
        </div>
      </div>
    </div>

    <div class="container">
      <h2>ประเภทที่พักอาศัย</h2>
      <form>
        <label class="checkbox-inline">
          <input type="checkbox" value="">หอพัก
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="">อพาร์ทเม้น
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="">คอนโด
        </label>
      </form>
    </div>
    <br>
    <div class="container">
      <h2>สิ่งอำนวยความสะดวก</h2>
      <form>
        <label class="checkbox-inline">
          <input type="checkbox" value="">ร้านค้า
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="">เครื่องซักผ้า
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="">ร้านซักรีด
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="">สระว่ายน้ำ
        </label>
        <label class="checkbox-inline">
          <input type="checkbox" value="">ฟิตเนส
        </label>
      </form>
    </div>
    <br>
    <h3>ที่อยู่</h3>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputemailaddressDorm" class="col-sm-4 col-form-label">เลขที่</label>
        <div class="col-sm-8">
          <input type="addressDorm" class="form-control" id="inputEditaddressDorm" placeholder="เลขที่">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputemailroadDorm" class="col-sm-4 col-form-label">ถนน</label>
        <div class="col-sm-8">
          <input type="roadDorm" class="form-control" id="inputEditroadDorm" placeholder="ถนน">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputsoiDorm" class="col-sm-4 col-form-label">ซอย</label>
        <div class="col-sm-8">
          <input type="soiDorm" class="form-control" id="inputEditsoiDorm" placeholder="ซอย">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputtumDorm" class="col-sm-4 col-form-label">ตำบล/แขวง</label>
        <div class="col-sm-8">
          <input type="tumDorm" class="form-control" id="inputEdittumDorm" placeholder="ตำบล/แขวง">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputproDorm" class="col-sm-4 col-form-label">จังหวัด</label>
        <div class="col-sm-8">
          <input type="proDorm" class="form-control" id="inputEditproDorm" placeholder="จังหวัด">
        </div>
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputzipDorm" class="col-sm-4 col-form-label">รหัสไปรษณีย์</label>
        <div class="col-sm-8">
          <input type="tumzipDorm" class="form-control" id="inputEditzipDorm" placeholder="รหัสไปรษณีย์">
        </div>
      </div>
    </div>


    <button type="button" class="btn btn-success">ยืนยัน</button>
  </form>
</div>
<br>